<!DOCTYPE html>
<html lang="en">


<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
 <title>{% block title %}Welcome!{% endblock %}</title>
   {% block stylesheets %}
<link rel="shortcut icon" href="{{asset('assets/img/logo-small2.png')}}">

<link rel="stylesheet" href="{{asset('assets/plugins/datatables/datatables.min.css')}}">
<link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">

<link rel="stylesheet" href="{{asset('assets/plugins/fontawesome/css/fontawesome.min.css')}}">
<link rel="stylesheet" href="{{asset('assets/plugins/fontawesome/css/all.min.css')}}">
<link rel="stylesheet" href="{{asset('assets/plugins/select2/css/select2.min.css')}}">
<link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
 {% endblock %}

</head>

<body>


<div class="header">

<div class="header-left">
<a href="index.html" class="logo">
<img src="{{asset('assets/img/logo2.png')}}" alt="Logo">
</a>
<a href="index.html" class="logo logo-small">
<img src="{{asset('assets/img/logo-small2.png')}}" alt="Logo" width="30" height="30">
</a>
</div>


<a href="javascript:void(0);" id="toggle_btn">
<i class="fas fa-bars"></i>
</a>


<div class="top-nav-search">
<form>
<input type="text" class="form-control" placeholder="Search here">
<button class="btn" type="submit"><i class="fas fa-search"></i></button>
</form>
</div>


<a class="mobile_btn" id="mobile_btn">
<i class="fas fa-bars"></i>
</a>


<ul class="nav nav-tabs user-menu">

<li class="nav-item dropdown has-arrow flag-nav">
<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">
<img src="{{asset('assets/img/flags/us.png')}}" alt="" height="20"> <span>English</span>
</a>
<div class="dropdown-menu dropdown-menu-right">
<a href="javascript:void(0);" class="dropdown-item">
<img src="{{asset('assets/img/flags/us.png')}}" alt="" height="16"> English
</a>
<a href="javascript:void(0);" class="dropdown-item">
<img src="{{asset('assets/img/flags/fr.png')}}" alt="" height="16"> French
</a>
<a href="javascript:void(0);" class="dropdown-item">
<img src="{{asset('assets/img/flags/es.png')}}" alt="" height="16"> Spanish
</a>
<a href="javascript:void(0);" class="dropdown-item">
<img src="{{asset('assets/img/flags/de.png')}}" alt="" height="16"> German
</a>
</div>
</li>


<li class="nav-item dropdown">
<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
<i data-feather="bell"></i> <span class="badge rounded-pill">5</span>
</a>
<div class="dropdown-menu notifications">
<div class="topnav-dropdown-header">
<span class="notification-title">Notifications</span>
<a href="javascript:void(0)" class="clear-noti"> Clear All</a>
</div>
<div class="noti-content">
<ul class="notification-list">
<li class="notification-message">
<a href="activities.html">
<div class="media d-flex">
<span class="avatar avatar-sm">
<img class="avatar-img rounded-circle" alt="" src="{{asset('assets/img/profiles/avatar-02.jpg')}}">
</span>
<div class="media-body">
{% if p == 0  %}

<p class="noti-details"><span class="noti-title">Brian Johnson</span> paid the invoice <span class="noti-title">#DF65485</span></p>
<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
</div>
</div>
{% endif %}
</a>
</li>
 <li class="notification-message">
<a href="activities.html">
<div class="media d-flex">
<span class="avatar avatar-sm">
<img class="avatar-img rounded-circle" alt="" src="assets/img/profiles/avatar-03.jpg">
</span>
<div class="media-body">
<p class="noti-details"><span class="noti-title">Marie Canales</span> has accepted your estimate <span class="noti-title">#GTR458789</span></p>
<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="activities.html">
<div class="media d-flex">
<div class="avatar avatar-sm">
<span class="avatar-title rounded-circle bg-primary-light"><i class="far fa-user"></i></span>
</div>
<div class="media-body">
<p class="noti-details"><span class="noti-title">New user registered</span></p>
<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="activities.html">
<div class="media d-flex">
<span class="avatar avatar-sm">
<img class="avatar-img rounded-circle" alt="" src="assets/img/profiles/avatar-04.jpg">
</span>
<div class="media-body">
<p class="noti-details"><span class="noti-title">Barbara Moore</span> declined the invoice <span class="noti-title">#RDW026896</span></p>
<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="activities.html">
<div class="media d-flex">
<div class="avatar avatar-sm">
<span class="avatar-title rounded-circle bg-info-light"><i class="far fa-comment"></i></span>
</div>
<div class="media-body">
<p class="noti-details"><span class="noti-title">You have received a new message</span></p>
<p class="noti-time"><span class="notification-time">2 days ago</span></p>
</div>
</div>
</a>
</li>
</ul>
</div>
<div class="topnav-dropdown-footer">
<a href="activities.html">View all Notifications</a>
</div>
</div>
</li>

 {% if is_granted('ROLE_ADMIN') %}
<li class="nav-item dropdown has-arrow main-drop">
<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
<span class="user-img">
<img src="{{asset('assets/img/profiles/avatar-01.jpg')}}" alt="">
<span class="status online"></span>
</span>

<span>Super_admin</span>
</a>
<div class="dropdown-menu">
<a class="dropdown-item" href="{{ path('settings', {'id': app.user.id}) }}"><i data-feather="user" class="me-1"></i> Profile</a>
<a class="dropdown-item" href="{{path('app_logout')}}"><i data-feather="log-out" class="me-1"></i> Logout</a>
</div>
</li>

</ul>

</div>
 
 
 {% elseif is_granted('ROLE_USER') %}
<li class="nav-item dropdown has-arrow main-drop">
<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
<span class="user-img">
<img src="{{asset('assets/img/profiles/avatar-01.jpg')}}" alt="">
<span class="status online"></span>
</span>

<span>Admin</span>
</a>
<div class="dropdown-menu">
<a class="dropdown-item" href="{{ path('settings', {'id': app.user.id}) }}"><i data-feather="user" class="me-1"></i> Profile</a>
<a class="dropdown-item" href="{{path('app_logout')}}"><i data-feather="log-out" class="me-1"></i> Logout</a>
</div>
</li>

</ul>

</div>

{% else %}
<li class="nav-item ">
<a href="{{path('app_login')}}" >
<span class="user-img">
<img src="{{asset('assets/img/profiles/login2.png')}}" alt="">
<span class="status online"></span>
</span>

<span>Login</span>
</a>

</li>

</ul>

</div>

 {% endif %}
 
<div class="sidebar" id="sidebar">
<div class="sidebar-inner slimscroll">
<div id="sidebar-menu" class="sidebar-menu">
<ul>
<li class="menu-title"><span>Main</span></li>
<li class="active">
<a href="{{path('dashboard')}}"><i data-feather="home"></i> <span>Dashboard</span></a>
</li>
<li>
<a href="{{path('categorie_index')}}"><i data-feather="package"></i> <span>Categories</span></a>
</li>
<li>
<a href="{{path('scategorie_index')}}"><i data-feather="package"></i> <span>Sous-catégorie</span></a>
</li>
<li>
<a href="{{path('produit_index')}}"><i data-feather="clipboard"></i> <span>Produits</span></a>
</li>
<li class="submenu">
<a href="#"><i data-feather="user"></i> <span>People</span> <span class="menu-arrow"></span></a>
<ul>
<li><a href="{{path('client_index')}}">Clients</a></li>
<li><a href="{{path('fournisseur_index')}}">Fournisseurs</a></li>
<li><a href="{{path('admin_users')}}">Utilisateurs</a></li>
</ul>
</li>
<li>
<a href="{{path('achats_index')}}"><i data-feather="gift"></i><span>Achats</span></a>
</li>
<li>
<a href="{{path('vente_index')}}"><i data-feather="shopping-cart"></i> <span>Ventes</span></a>
</li>
<li>
<a href="{{path('depense_index')}}"><i data-feather="dollar-sign"></i> <span>Frais</span></a>
</li>
<li>
<a href="{{path('branch_index')}}"><i data-feather="bar-chart"></i> <span>Branch</span></a>
</li>
<li>
<a href="settings.html"><i data-feather="settings"></i> <span>Settings</span></a>
</li>

<li class="menu-title">
<span>Pages</span>
</li>
<li>
<a href="profile.html"><i data-feather="user-plus"></i> <span>Profile</span></a>
</li>
<li class="submenu">
<a href="#"><i data-feather="lock"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
<ul>
<li><a href="login.html"> Login </a></li>
{% if is_granted('ROLE_ADMIN') %}
<li><a href="{{path('app_register')}}"> Register </a></li>
{% endif %}
<li><a href="forgot-password.html"> Forgot Password </a></li>
<li><a href="lock-screen.html"> Lock Screen </a></li>
</ul>
</li>
<li class="submenu">
<a href="#"><i data-feather="alert-octagon"></i> <span> Error Pages </span> <span class="menu-arrow"></span></a>
<ul>
<li><a href="error-404.html">404 Error </a></li>
<li><a href="error-500.html">500 Error </a></li>
</ul>
</li>
<li>
<a href="users.html"><i data-feather="user"></i> <span>Users</span></a>
</li>
<li>
<a href="blank-page.html"><i data-feather="file"></i> <span>Blank Page</span></a>
</li>
<li>
<a href="maps-vector.html"><i data-feather="map-pin"></i> <span>Vector Maps</span></a>
</li>
<li class="menu-title">
<span>UI Interface</span>
</li>
<li>
<a href="components.html"><i data-feather="layers"></i> <span>Components</span></a>
</li>
<li class="submenu">
<a href="#"><i data-feather="columns"></i> <span> Forms </span> <span class="menu-arrow"></span></a>
<ul>
<li><a href="form-basic-inputs.html">Basic Inputs </a></li>
<li><a href="form-input-groups.html">Input Groups </a></li>
<li><a href="form-horizontal.html">Horizontal Form </a></li>
<li><a href="form-vertical.html"> Vertical Form </a></li>
<li><a href="form-mask.html"> Form Mask </a></li>
<li><a href="form-validation.html"> Form Validation </a></li>
</ul>
</li>
<li class="submenu">
<a href="#"><i data-feather="layout"></i> <span> Tables </span> <span class="menu-arrow"></span></a>
<ul>
<li><a href="tables-basic.html">Basic Tables </a></li>
<li><a href="data-tables.html">Data Table </a></li>
</ul>
</li>
</ul>
</div>
</div>
</div>




</div>
<div class="main-wrapper">
 <div class="page-wrapper"> 
<div class="content container-fluid">
{% block body %}
{% endblock %}
</div>
</body>
 {% block javascripts %}

<script src="{{asset('assets/js/jquery-3.6.0.min.js')}}"></script>

<script src="{{asset('assets/js/popper.min.js')}}"></script>
<script src="{{asset('assets/js/bootstrap.min.js')}}"></script>

<script src="{{asset('assets/js/feather.min.js')}}"></script>
<script src="{{asset('assets/plugins/slimscroll/jquery.slimscroll.min.js')}}"></script>


<script src="{{asset('assets/plugins/select2/js/select2.min.js')}}"></script>
<script src="{{asset('assets/js/script.js')}}"></script>



{% endblock %}


 

</html>