{% extends 'base.html.twig' %}

{% block title %}Branch{% endblock %}

{% block body %}
    <h1>Branch</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ branch.id }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ branch.prenom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ branch.adresse }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ branch.tel }}</td>
            </tr>
            <tr>
                <th>Cnom</th>
                <td>{{ branch.cnom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('branch_index') }}">back to list</a>

    <a href="{{ path('branch_edit', {'id': branch.id}) }}">edit</a>

    {{ include('branch/_delete_form.html.twig') }}
{% endblock %}
